* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* ==== import url fonts logo  */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    color: #fff;
    /* width: 82%; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}


li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}


textarea,
input {
    border: none;
    outline: none;
    color: #fff;
    text-align: end;
    background-color: transparent;
    font-size: 16px;
}

textarea::placeholder,
input::placeholder {
    color: #888;
    text-align: end;
}